:root {
  --color-primary: #c38f4e;
  --color-secondary: #2a3444;
  --color-grey: #434343;
  --color-grey-dark: #3e403c;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #f12711;
  --color-yellow: #f5af19;
  --color-green: #38ef7d;
  --color-green-dark: #00b381;
  --color-green-garken: #11998e;
  --color-blue: #2f80ed;
  --color-blue-light: #56ccf2;
  --color-blue-grey: #a0bcdf;
  --color-pink: #ec008c;
  --color-pink-light: #fc6767;

  --color-palette1: #DABA91;
  --color-palette2: #D2AA78;
  --color-palette3: #CA9C62;
  --color-palette4: #C38F4E;
  --color-palette5: #B7823E;
  --color-palette6: #A57538;
  --color-palette7: #956932;
  --color-palette9: #865E2D;
  --color-palette8: #664822;

  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Mansalva", sans-serif;
}
