.top-to-btm {
  position: relative; }

.icon-position {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 20; }

.icon-style {
  background-color: transparent;
  height: 40px;
  width: 40px;
  color: var(--color-grey-dark);
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out; }

.icon-style:hover {
  animation: none;
  background: transparent;
  color: var(--color-primary); }

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert; }

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert; }

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset; }

/* remove default dot (•) sign */
::marker {
  content: initial; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

.c {
  text-align: center;
  display: block;
  position: relative;
  width: 80%;
  margin: 100px auto; }

._404 {
  font-size: 220px;
  position: relative;
  display: inline-block;
  z-index: 2;
  height: 250px;
  letter-spacing: 15px; }

._1 {
  text-align: center;
  display: block;
  position: relative;
  letter-spacing: 12px;
  font-size: 4em;
  line-height: 80%; }

._2 {
  text-align: center;
  display: block;
  position: relative;
  font-size: 20px;
}

.text {
  font-size: 70px;
  text-align: center;
  position: relative;
  margin: 19px 0 0 0;
  /* top: 256.301px; */
  z-index: 3;
  width: 100%;
  line-height: 1.2em;
  display: inline-block;
}

.btn {
  background-color: white;
  position: relative;
  display: inline-block;
  width: 358px;
  padding: 5px;
  z-index: 5;
  font-size: 25px;
  margin: 0 auto;
  text-decoration: none;
  margin-right: 10px; }

.right {
  float: right;
  width: 60%; }

hr {
  padding: 0;
  border: none;
  border-top: 5px solid #fff;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  width: 420px;
  height: 10px;
  z-index: -10; }

hr:after {
  content: "\2022";
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 0.2em; }

.cloud {
  width: 350px;
  height: 120px;
  background: #000000;
  background: linear-gradient(top, #FFF 100%);
  background: -webkit-linear-gradient(top, #FFF 100%);
  background: -moz-linear-gradient(top, #FFF 100%);
  background: -ms-linear-gradient(top, #FFF 100%);
  background: -o-linear-gradient(top, #FFF 100%);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  position: absolute;
  margin: 120px auto 20px;
  z-index: -1;
  transition: ease 1s; }

.cloud:after, .cloud:before {
  content: '';
  position: absolute;
  background: #000000;
  z-index: -1; }

.cloud:after {
  width: 100px;
  height: 100px;
  top: -50px;
  left: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px; }

.cloud:before {
  width: 180px;
  height: 180px;
  top: -90px;
  right: 50px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px; }

.x1 {
  top: -50px;
  left: 100px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  opacity: 0.9;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite; }

.x1_5 {
  top: -80px;
  left: 250px;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-animation: moveclouds 17s linear infinite;
  -moz-animation: moveclouds 17s linear infinite;
  -o-animation: moveclouds 17s linear infinite; }

.x2 {
  left: 250px;
  top: 30px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite; }

.x3 {
  left: 250px;
  bottom: -70px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.8;
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite; }

.x4 {
  left: 470px;
  bottom: 20px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite; }

.x5 {
  left: 200px;
  top: 300px;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px; }
  100% {
    margin-left: -1000px; } }
:root {
  --color-primary: #c38f4e;
  --color-secondary: #2a3444;
  --color-grey: #434343;
  --color-grey-dark: #3e403c;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #f12711;
  --color-yellow: #f5af19;
  --color-green: #38ef7d;
  --color-green-dark: #00b381;
  --color-green-garken: #11998e;
  --color-blue: #2f80ed;
  --color-blue-light: #56ccf2;
  --color-blue-grey: #a0bcdf;
  --color-pink: #ec008c;
  --color-pink-light: #fc6767;
  --color-palette1: #DABA91;
  --color-palette2: #D2AA78;
  --color-palette3: #CA9C62;
  --color-palette4: #C38F4E;
  --color-palette5: #B7823E;
  --color-palette6: #A57538;
  --color-palette7: #956932;
  --color-palette9: #865E2D;
  --color-palette8: #664822;
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Mansalva", sans-serif; }

/*# sourceMappingURL=main.css.map */
